@use '../../../../../styles/abstracts/colors' as *;
@use '../../../../../styles/abstracts/mixins' as *;
@use '../../../../../styles/abstracts/variables' as *;

:host {
  display: block;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: $radius-lg;
  @include pulse-alert($color-branding);

  & p {
    margin: 0;
    color: $color-primary;
  }
}
